.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: #97d1a7 ;
  direction: rtl; 
  font-family: sans-serif;
}

.login-container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  text-align: right; 
}

.brand-title, .brand-subtitle {
  text-align: center;
  width: 100%;
  display: block;
  color: #0b0c0b;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #101010;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: right; 
  box-sizing: border-box;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #40916C;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #2D6A4F;
}