/* App.module.css */
.app {
 text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appHeader {
  background-color: none;
  padding: 5px 30px 5px 30px;
  color: white;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.appLogo {
  height: 100px;
}

.appNav {
  display: none;
  gap: 20px;
}

.appLink {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.appLink:hover {
  text-decoration: underline;
}

.main {
   flex: 1;
  background: linear-gradient(
    90deg,
    #FFA07A 0%,
    #FFD97D 50%,
    #98D8C8 100%
  );
}

.footer {
  padding: 12px 0;
  color: white;
  text-align: center;
}
  