/* App.module.css */
.app {
  text-align: center;
}

.appHeader {
  background-color: none;
  padding: 5px 30px 5px 30px;
  color: white;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.appLogo {
  height: 100px;
}

.appNav {
  display: none;
  gap: 20px;
}

.appLink {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.appLink:hover {
  text-decoration: underline;
}

.main {
  padding: 0;
  min-height: 100vh;
}

.footer {
  padding: 0;
  background: none;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}
  